<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Builder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/views/Team-Builder-Dashboard/style.css" />
  </head>
  <body >
    <script>
      var user = '<%= user %>';  
    </script>
    <aside>
     
      <div class="profile">
        <div class="img"></div>
        <div class="data">
          <p>Team Builder</p>
          <span>
            <form id="profile-form">
              <label for="profile-input">
                Change profile pic
                <input  id="profile-input" type="file" name="image" accept="image/*" capture="camera" style="display: none;"/>
                <i data-feather="settings"></i>
              </label>
            </form>
            
          </span>
        </div>
      </div>
      <!--  -->
      <div class="dropdown">
        <input type="checkbox" name="menu-drop" id="menu-drop" />
        <label for="menu-drop" class="menu-drop-label">
          <span></span>
          <span></span>
        </label>
      </div>

      <!--  -->
      <nav>
        <span class="close-dropdown">
          <i data-feather="x"></i>
        </span>
        <ul>
          <li class="active"><i data-feather="aperture"></i> Overview</li>
        <li onclick="addIdea()" ><i data-feather="trello"></i> add idea</li>
       
              <form action="/myteam" method="post" id="teamform"> <li id="myteam"><i data-feather="message-square"></i> My Team </li>
         </form>
         <form action="/requests" method="post" id="requestform"> <li id="requests"><i data-feather="bell"></i> requests  </li>
         </form>
         </ul>
      </nav>
    </aside>

    <div class="container">
      <!--  -->
 
      <!-- 
      this user name will be rendered 
      after login -->
      <div class="profile_container">
        <img id="profile" height="70px" width="70px" src="<%=profile_url%>">
        <div class="name">
          <%= user %>
        </div>
      </div>
      
      

      <!-- updated profile -->
       



      <div class="featured-ideas" >
        <!--  -->
        <h2>Ideas</h2>
        <div class="ideas" id="idea-list">
           <!--  -->



        </div>
      </div>

      <div class="views">
        <div class="profile-views">
          <!--  -->
          <h2>All Participants</h2>
          <div class="container-views" id="profile_list">
           
          </div>
        </div>

        <!--  -->
        <div class="suggestions">
          <h2>Teams</h2>
          <div class="teams" id="team_list">
            <!--  -->
            
            <!--  -->
       
        </div>
      </div>
    </div>
 
    <script>

    function addIdea() {
      window.location.href = "./views/Team-Builder-Dashboard/idea-form/index.html?user=<%= user %>";
    }

      function myIdea(idd) {
    window.location.href = "./views/Team-Builder-Dashboard/idea-info-page/idea-info.html?docid="+idd+"&user=<%= user %>";
      }

      window.showTeam = function(id){
  window.location.href = "./views/Team-Builder-Dashboard/team-info-page/team-info-page.html?docid="+id+"&user=<%= user %>";
}

      feather.replace();
    </script>
  </body>
   <script type="module" src="/views/Team-Builder-Dashboard/script.js"></script>
</html>
